.App {
  background-color: white;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
  font-family: "Bangers", cursive;
}
.App-logo {
  height: 80px;
  mix-blend-mode: multiply;
  box-shadow: #5a171738 0px 2px 29px 0px;
  border-radius: 50px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #dccfcf;
  height: 100px;
  padding: 20px;
  color: rgb(29, 22, 22);
  text-align: left;
  font-family: "Bangers", cursive;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  /* font-family: "Bangers", cursive; */
  letter-spacing: 2px;
  color: #0e0707;
  text-align: center;
}
h4 {
  font-size: 1.5rem;
  text-align: center;
}

.babyCardContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-gap: 1px;
  width: 80vw;
  margin: auto;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
  /* padding: 0.5rem; */
}

.babyCard {
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
   /* height: 50%; */
  /* width: 10%;  */
} 
.babyCard:hover {
  box-shadow: #5a171744 0px 2px 20px 0px;
  transform: translateY(-2px);
  opacity: 0.9;
}
/* .favcard{
  width: 10%;
} */
.f {
  background-color: rgb(228, 6, 132);
  margin: 5px 5px;
}
.m {
  background-color: rgb(8, 8, 95);
  margin: 5px 5px;
}
.f,
.m {
  color: white;
}

.searchSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
  /* border: 2px solid black; */
  mix-blend-mode: multiply;
}


#nameSearch {
  border: none;
  box-shadow: #5a171738 0 3px 10px 0px;
  border-radius: 50px;
  padding: 1rem;
  width: 15rem;
}
#nameSearch:focus {
  outline: none;
}
.serachBaby {
  cursor: pointer;
  height: 50px;
  margin: 0.5rem;
  mix-blend-mode: multiply;
  box-shadow: #5a171738 0 3px 10px 0px;
  border-radius: 20px;
}
 .ul{
 margin: 0 10rem;
 /* border: 2px solid salmon; */
 }