.App {
  background-color: white;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.App-logo {
  height: 80px;
  mix-blend-mode: multiply;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #dccfcf;
  height: 50px;
  padding: 20px;
  color: rgb(29, 22, 22);
  text-align: left;
  font-family: "Bangers", cursive;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items:center;
}




h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  color: #0e0707;
  text-align: center;
}

.babyCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  grid-gap: 1px;
  width: 95vw;
  margin: auto;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
  padding: 0.5rem;
}

.babyCard {
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  height: 50%;
  width: 80%;
}
.babyCard:hover {
  box-shadow: #5a171744 0px 2px 20px 0px;
  transform: translateY(-2px);
  opacity: 0.9;
}
.f {
  background-color: rgb(228, 6, 132);
}
.m {
  background-color: rgb(8, 8, 95);
}
.f,
.m {
  color: white;
}


.searchSection {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  /* border: 2px solid black; */
}

#nameSearch {
  border: none;
  box-shadow: #5a171738 0px 2px 29px 0px;
  border-radius: 50px;
  padding: 1rem;
}
#nameSearch:focus {
  outline: none;
}